DATABASE_URL="mysql://root:sua_senha@localhost:3306/api_banco"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_USER="root"
DATABASE_PASSWORD="sua_senha"
DATABASE_NAME="api_banco"

EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_app_password
