# Supabase PostgreSQL Connection String (Transaction Pooler - porta 6543)
DATABASE_URL=postgresql://postgres.[seu-projeto]:[sua-senha]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres

EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_app_password
